table{
    border-collapse:collapse;
    border-radius: 6px;
    text-align: center;
}
td,th{ 
   border-style: solid; 
   border-width: 2px;
}
td{
    background-color: grey;
    border-radius: 6px;
    
}
th{
    background-color: khaki;
    border-top-style: none;
    border-radius: 600px;
   
}
#celda_3_3{
    background-color: lightblue;
}
td.rosa{
    background-color: lightpink;
}
th.rosa{
    background-color: lightcoral;
    text-align: end;
}
.negrita{
   font-weight: lighter;
}
.verde{
    background-color: palegreen;
}